*{
    margin: 0;
    padding:0;

}

.nav{
    background-color: #3a3a3a;
    height: 50px;
    overflow: hidden;
}

.nav li{
    float: left;
    list-style: none;
    margin: 0 20px;
    line-height: 50px;
}

.nav li a{
    color: #ffffff;
    text-decoration: none;

}

.nav li a:hover{
    color: lightblue;
}